.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

#about {
  background-color: #f8f9fa;
  padding: 50px 0;
}

#about h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

#about .lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: #333;
}

#about .text-center {
  margin-bottom: 20px;
}

#about .container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 30px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.contact-section {
  padding: 70px 0; /* Menambahkan padding vertikal yang lebih besar */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px; /* Mengatur lebar maksimal yang lebih besar */
  border: 2px solid #007bff;
}

.contact-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
}

.contact-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.contact-section .social-links {
  margin-top: 20px;
}

.contact-section .social-links a {
  color: #007bff;
  text-decoration: none;
  margin-right: 15px;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-section .social-links a:hover {
  color: #0056b3;
}

.contact-section .social-links i {
  font-size: 1.5rem;
  margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.form-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
  border: 1px solid #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-section h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.form-section .form-label {
  font-weight: bold;
  color: #333;
}

.form-section .form-control {
  margin-bottom: 10px;
}

.form-section .form-text {
  color: #555;
  font-size: 0.75rem;
}

.form-section .btn {
  background-color: #007bff;
  border: none;
}

.form-section .btn:hover {
  background-color: #0056b3;
}
